html,
body {
    margin:0;
    padding:0;
    height:100%;
    background: url('/assets/images/bg.png') repeat;
    font-family: 'Lato', sans-serif;
}

#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    padding:10px;
    background:#5ee;
}
#content {
    margin-top:70px;
    padding-bottom: 150px;   /* Height of the footer element */
}
#footer {
    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    left:0;
    background: #333;
    opacity: .6;
}

#footer p {
    color: #ededed;
    font-size: 14px;
    padding: 10px;
}

#footer p a {
    color: #fff;
}

.navbar-brand {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.pointer {
    cursor: pointer;
}

.nav a:focus {
    outline: none;
    border: 0px;
}

.error {
    color: #E34234;
}

.not-found {
    margin-top: 150px;
    text-align: center;
}

.not-found h1 {
    color: #777777;
    font-size: 60px;
}

.modal-body .alert-danger ul {
    margin-top: 10px;
}
.paginaton-top {
    border-top: 1px solid #ededed;
}

textarea {
    overflow: hidden;
    resize: none;
}

@media (min-width: 320px) and (max-width: 1024px){
    .panel-footer-date {
        margin-bottom: 5px;
    }
}

.loading {
    margin-top:200px;
    text-align: center;
}
[v-cloak] { display: none }